@import "../../../../../styles/component";

.about {
    p {
        margin-bottom: 20px;
    }
    aside {
        display: inline-flex;
        width: 100%;
        justify-content: center;
        img {
            height: 25px;
            width: 25px;
        }
    }
}